<section class=" text-center">
  <div class="container ">
    <div class="card-group ">
      <div class="card   my-5">
        <div class="card-body">
          <h3 class="card-title">LOCATION</h3>
          <p class="card-text">2215 John Daniel Drive </p>
          <p class="card-text">Clark, MO 65243</p>

        </div>
      </div>
      <div class="card  d-flex justify-content-center my-5">
        <div class="card-body  ">
          <h3 class="card-title text-center ">AROUND THE WEB</h3>

          <div class="icons position-relative">
            <i class="fa-brands fa-facebook mx-1 icon  border rounded-circle "></i>
            <i class="fa-brands fa-twitter mx-1 icon border rounded-circle"></i>
            <i class="fa-brands fa-linkedin-in mx-1 icon border rounded-circle"></i>
            <i class="fa-solid fa-globe mx-1 icon border rounded-circle"></i>
          </div>

        </div>
      </div>
      <div class="card   my-5">
        <div class="card-body">
          <h3 class="card-title">ABOUT FREELANCER</h3>
          <p class="card-text">Freelance is a free to use, licensed Bootstrap theme created by Route </p>


        </div>
      </div>

    </div>
    
  </div>
</section>
