<div class=" about primarycolor  d-flex justify-content-center align-items-center text-white ">
  <div class="text-center ">
    <div class="text-center  pt-4">
      <h2 class="text-uppercase my-5 fs-1 fw-bolder">about component</h2>
      <app-star></app-star>
    </div>
    <div class="text-center d-flex  px-5 mb-5">
      <p class="ps-5 mb-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete
        source files
        including HTML,
        CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      <p class="ps-5 mb-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete
        source files
        including HTML,
        CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

    </div>
  </div>
</div>