<nav class="navbar navbar-expand-lg  text-white py-4 ">
  <div class="container">
    <a class="navbar-brand text-white text-uppercase fw-bolder fs-2" routerLink="home">Start Framework</a>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav p-2 ms-auto text-white   ">
        <li class="nav-item text-white ">
          <a class="nav-link mx-3 text-white " routerLinkActive=" rounded-4 primarycolor text-white "
            routerLink="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white mx-3" routerLinkActive=" rounded-4 primarycolor text-white "
            routerLink="portfolio">PORTOFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white mx-3     " routerLinkActive=" rounded-4 primarycolor text-white "
            routerLink="contact">CONTACT</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
