<div class="portfolio   ">
  <div class="text-center ">

    <div class="text-center mt-4">
      <h2 class="text-uppercase  fs-1 fw-bolder">portfolio component</h2>
      <div class="d-flex align-items-center justify-content-center ">
        <div class="line me-3 "></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3">
        </div>
      </div>

    </div>

    <div class="container  mx-auto my-5 ">
      <div class="row g-5">
        <div class="col-lg-4 col-md-2">
          <div class="item position-relative overflow-hidden ">
            <img #myItem src="../../assets/imges/poert1.png" class="w-100 rounded-3  " alt="" (click)="showElement()">
            <div
              class="layer d-none position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center rounded-3">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-2">
          <div class="item position-relative overflow-hidden ">
            <img src="../../assets/imges/port2.png" class="w-100 rounded-3  " alt="">
            <div
              class="layer  position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center rounded-3">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-2">
          <div class="item position-relative overflow-hidden ">
            <img src="../../assets/imges/port3.png" class="w-100 rounded-3  " alt="">
            <div
              class="layer  position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center rounded-3">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-2">
          <div class="item position-relative overflow-hidden ">
            <img src="../../assets/imges/poert1.png" class="w-100 rounded-3  " alt="">
            <div
              class="layer  position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center rounded-3">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-2">
          <div class="item position-relative overflow-hidden ">
            <img src="../../assets/imges/port2.png" class="w-100 rounded-3  " alt="">
            <div
              class="layer  position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center rounded-3">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-2">
          <div class="item position-relative   ">
            <img src="../../assets/imges/port3.png" class="w-100 rounded-3  " alt="">
            <div
              class="layer  position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center rounded-3">
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="light-box d-none ">
      <div class="light-item">
        <i class="fa-solid fa-arrow-left " id="prev"></i>
        <i class="fa-solid fa-arrow-right " id="next"></i>

      </div>
    </div>
  </div>
</div>