<div class="portfolio   ">
  <div class="text-center ">

    <div class="text-center mt-4">
      <h2 class="text-uppercase  fs-1 fw-bolder">portfolio component</h2>
      <div class="d-flex align-items-center justify-content-center ">
        <div class="line me-3 "></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3">
        </div>
      </div>

    </div>

    <div class="container  mx-auto row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-5 ">
      <div class="item position-relative overflow-hidden ">
        <img src="../../assets/imges/poert1.png" class="w-100 rounded-3  " alt="">
        <div class="layer position-absolute d-flex justify-content-center  flex-column align-items-center">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
      <div class="item position-relative overflow-hidden ">
        <img src="../../assets/imges/port2.png" class="w-100 rounded-3  " alt="">
        <div class="layer position-absolute d-flex justify-content-center  flex-column align-items-center">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
      <div class="item position-relative overflow-hidden ">
        <img src="../../assets/imges/port3.png" class="w-100 rounded-3  " alt="">
        <div class="layer position-absolute d-flex justify-content-center  flex-column align-items-center">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
      <div class="item position-relative overflow-hidden ">
        <img src="../../assets/imges/poert1.png" class="w-100 rounded-3  " alt="">
        <div class="layer position-absolute d-flex justify-content-center  flex-column align-items-center">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
      <div class="item position-relative overflow-hidden ">
        <img src="../../assets/imges/port2.png" class="w-100 rounded-3  " alt="">
        <div class="layer position-absolute d-flex justify-content-center  flex-column align-items-center">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>
      <div class="item position-relative overflow-hidden ">
        <img src="../../assets/imges/port3.png" class="w-100 rounded-3  " alt="">
        <div class="layer position-absolute d-flex justify-content-center  flex-column align-items-center">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>

    </div>
    <div class="light-box d-none ">
      <div class="light-item">
        <i class="fa-solid fa-arrow-left " id="prev"></i>
        <i class="fa-solid fa-arrow-right " id="next"></i>

      </div>
    </div>
  </div>
</div>