.portfolio {
  background-color: white;

}

h2 {
  color: #2C3D4F;
}

.line {
  background-color: #2C3D4F;
  color: #2C3D4F;
  width: 100px;
  height: 5px;
}

.item{
  cursor: pointer;
}

.item .layer {

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.6s ease;


}

.item:hover .layer {

  background-color: #3DB197;
  opacity: 0.9;
}



.light-box {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.light-item {
  width: 40%;
  height: 50vh;
  background-image: url(../../assets/imges/poert1.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.light-item i {
  margin: 15px;
  font-size: large;
  cursor: pointer;

}
